<?xml version="1.0" encoding="utf-8"?>

<configuration>
	<configSections>
		<sectionGroup name="userSettings"
                type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="Windows_Gadget.Settings1"
            type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
            allowExeDefinition="MachineToLocalUser" requirePermission="false" />
		</sectionGroup>
	</configSections>
	<userSettings>
		<Windows_Gadget.Settings1>
   <setting name="OverlayX" serializeAs="String">
    <value>-150</value>
   </setting>
   <setting name="OverlayY" serializeAs="String">
    <value>40</value>
   </setting>
   <setting name="OverlayWidth" serializeAs="String">
    <value>150</value>
   </setting>
   <setting name="OverlayLength" serializeAs="String">
    <value>60</value>
   </setting>
   <setting name="WebsiteToShow" serializeAs="String">
    <value>PutYourLinkHere</value>
   </setting>
  </Windows_Gadget.Settings1>
	</userSettings>
</configuration>